body {
   background: linear-gradient(to right, #bdc3c7, #2c3e50);
}




p {
  text-align: center;
  word-spacing: 1em;
  padding-top: 23px;
}

.recharts-cartesian-axis-line {
  display: none;
}

.recharts-cartesian-axis-tick-line {
  display: none;
}